/* Start your CSS code here */

/* sidebar  */
body{
    margin: 0px;
    background-color: rgba(254, 143, 143, .5);
}
.sidebar{
    background-color: rgb(77, 77, 77);
    width: 20%;
    height: 100%;
    float: left;
    display: block;
    position: fixed;
}

.logo{
    padding-left: 20px;
    padding-top: 30px;
}

.menu ul{
    list-style: none;
    margin-left: -20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.menu ul:Hover{
    color: rgb(0, 0, 0);
}

.menu a{
    text-decoration: none;
    color: white;
}

.container{
    height: 100%;
    padding-left: 20%;
}

.footer-copy{
    color: white;
    position: absolute;
    bottom: 0px;
}

.footer-copy p{
    padding-left: 20px;
    
}

.logo {
    font-size: 1.rem;
    position: relative;
}

.logo img {
    margin-top: -60px;
    width: 250px;
}

.sidebar li {
    list-style: none;
    padding-bottom: 25px;
    font-size: 25px;
    padding-left: 30px;
}

.poster ul{
    margin-top :-16px
}

.sidebar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial;
    padding: 0px 10px;
    font-weight: bold;
    transition: 0.15s;
}

/* popup */

.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vw;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content iframe{
    text-align: center;
}

.popup .close-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-color: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background-color: #fff;
    width: 1200px;
    height: 700px;
    z-index: 3;
    padding-left: 100px;
    padding-right: 80px;
    box-sizing: border-box;
}

.popup.active .overlay{
    display: block;
}

.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}

/* menu */

.welcome {
    text-align: center;
    font-family: 'Fredoka One';
    font-size: 50px;
    font-weight: bold;
    position: relative;
    top: 100px;
}

.quote-home {
    text-align: center;
    font-family: 'Lucida Sans';
    font-size: 30px;
    font-weight: bold;
    position: relative;
    padding: 10px;
    width: 400px;
    left: 320px;
    top: 400px;
    background-color: rgb(255, 118, 118);
    border-radius: 20px;
}

/* About Us */

.about-us-back {
    position: relative;
    left: 70px;
    top: 60px;
    width: 70vw;
    height: 40vw;
    background-color: rgba(255, 255, 255, .5);
}

.about-us-title {
    text-align: center;
    font-family: 'Fredoka One';
    font-size: 50px;
    font-weight: bold;
    position: relative;
    top: 30px;
}

.about-us {
    text-align: center;
    font-family: 'Lucida Sans';
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 110px;
}

/* series */

section .poster {
    position: relative;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    padding-top: 12%;
    padding-left: 12%;
}

.slide[data-active]{
    position: absolute;
    inset: 0;
    opacity: 1;
}

section .poster img {
    padding-left: 30px;
    height: 350px;
    width: 233.33px;
    object-fit: cover;
}

section .carousel-button {
    position: absolute;
    top: 200px;
    z-index: 2;
    background: none;
    border: none;
    font-size: 6rem;
    color: rgba(255, 255, 255, .5);
    align-items: center;
    cursor: pointer;
}

.carousel-button:hover{
    color: white;
}

.carousel-button.prev {
    left: 3%;
}

.carousel-button.next {
    right: 3%;
}

li {
    list-style: none;
}

/* login */

#style2 input {
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(51, 51, 51);
    color: lightgray;
    font-size: 16px;
    margin: 10px 0;
    width: 90%;
    border: none;
    outline-style: none;
}


#style2 input[type=button] {
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px 0;
    width: 100%;
    background-color: red;
    color: white;
    border: none;
}